:root {
    --shrek-green-dark: #B0C400;
    --shrek-green-light: #D5DE2E;
    --shrek-brown-dark: #523213;
    --shrek-brown-light: #795A2D;
    --shrek-grey-dark: #C3BC95;
    --shrek-grey-light: #D3CCA5;
}

body {
    margin: 0px;
    background-color: var(--shrek-grey-dark);
}

body .content {
    width: 80%;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--shrek-grey-light);
}

/* navbar styles */

.navbarBox {
    display: flex;
    justify-Content: space-evenly;
    width: 100%;
    height: 15vh;
    border-bottom: 5px solid var(--shrek-brown-light);
    background-color: var(--shrek-green-dark);
}

.navbarBox .subpagesBox {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    width: 80%;
}

.subpagesBox .subpageBox {
    width: 30%;
    height: 80%;
    border-left: 5px solid var(--shrek-brown-light);
    border-right: 5px solid var(--shrek-brown-light);
    border-top: 5px solid var(--shrek-brown-light);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 10px 0px 10px #A0A420;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.navbarBox .subpageBox:hover, .loginBox:hover, .signupBox:hover {
    background-color: var(--shrek-green-light);
    cursor: pointer;
}

.logoBox, .loginSignupBox {
    width: 10%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.loginBox, .signupBox {
    /* wdith: 100%; nie działa? */
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--shrek-brown-dark);
    border-radius: 15px;
}

.loginBox p, .signupBox p {
    padding: 5px;
}


/* storeItem styles */

.storeItemBox {

    width: 80%;
    height: 10em;
    font-size: 1.5em;
    text-align: center;
    border: 3px solid var(--shrek-brown-light);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: 
    'photo photo name name name name'
    'photo photo price price buy buy';
    background-color: var(--shrek-brown-light);
}

.storeItemBox div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shrek-grey-dark);
}

.itemPhoto {
    grid-area: photo;
    border-right: 3px dashed var(--shrek-brown-light);
    /* outline: 1px solid black; */
}

.itemPhoto img{
    height: 100%;
    width: 10%;
    margin: 10px;
}

.itemNameBox {
    grid-area: name;
    border-bottom: 3px dashed var(--shrek-brown-light);
}

.itemPriceBox {
    grid-area: price;
}

.buyBasketBox {
    grid-area: buy;
    display: flex;
}

.buyBasketBox button{
    height: 75%;
    width: 100%;
    font-size: 1.5em;
    margin: 10px;
    margin-right: 15px;
    border-radius: 20px;
    background-color: var(--shrek-grey-light);
    border: 3px dashed var(--shrek-brown-light);
}

.buyBasketBox button:hover {
    background-color: var(--shrek-green-light);
}
