.userData {
    height: 100px;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    font-size: 3em;
    letter-spacing: 3px;
    border-bottom: 5px solid var(--shrek-brown-light);
    border-left: 5px solid var(--shrek-brown-light);
    border-right: 5px solid var(--shrek-brown-light);

}

.dataInfo {
    overflow-y: scroll;
    margin-top: 2em;
    height: 62%;
}

.dataInfoNavbar {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
}

.dataInfoNavbar div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    border-bottom: 3px solid var(--shrek-brown-light);
    border-left: 3px solid var(--shrek-brown-light);
    border-right: 3px solid var(--shrek-brown-light);
}

.metaText {
    color: grey;
}

.userEmail {
    text-decoration: underline;
    text-decoration-color: var(--shrek-green-dark);
}

.orderTile {
    border: 3px solid var(--shrek-brown-light);
    border-radius: 5px;
    margin: 10px;
    height: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.orderAdminTile, .userAdminTile, .basketAdminTile {
    border: 3px solid var(--shrek-brown-light);
    border-radius: 5px;
    margin: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.orderTileTitle, .userTitleTile {
    background-color: var(--shrek-grey-dark);
    border-bottom: 3px solid var(--shrek-brown-dark);
    padding: 1px;
}

.orderTileProducts {
    overflow-y: scroll;
    height: 55%;
}

.orderTileProducts > div {
    border-bottom: 3px dashed var(--shrek-brown-light);
}

.basketBox {
    width: 70%;
    font-size: 1.2em;
    border: 3px solid var(--shrek-brown-light);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.basketItem {
    border-bottom: 3px solid var(--shrek-brown-light);  
}

input, button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    background-color: #F3ECC5;
    border: 3px dashed var(--shrek-brown-light);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:hover {
    background-color: var(--shrek-green-light);
}

